on early-init && property:ro.product.cpu.abilist64=*
    start boringssl_self_test64_vendor

on post-early-init && property:ro.product.cpu.abilist64=*
    wait_for_prop init.svc.boringssl_self_test64_vendor "stopped"
